---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/regulation-marks/None
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77-QZsP/bT6hOvdcYBU6+pb8Vu55j8"
    body:
      encoding: UTF-8
      string: '{"name":"none","cards":[{"id":"mfb-33","localId":"33","name":"Potion"},{"id":"mfb-34","localId":"34","name":"Switch"}]}'
  recorded_at: Tue, 14 Jul 2026 23:07:05 GMT
recorded_with: VCR 6.4.0
