---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/cards/nonexistent-999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0-5XVQUeBE4bII4nwxSi089bxUL3w"
    body:
      encoding: UTF-8
      string: '{"type":"https://tcgdex.dev/errors/not-found","title":"The resource
        you are trying to reach does not exists","status":404,"endpoint":"/en/cards/nonexistent-999","method":"GET"}'
  recorded_at: Tue, 14 Jul 2026 23:07:25 GMT
recorded_with: VCR 6.4.0
