---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/stages/BREAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f20-XfHd4Rz0iQ6o7R5M0Mm9+YIvo9o"
    body:
      encoding: UTF-8
      string: '{"name":"break","cards":[{"id":"xy11-8","localId":"8","name":"Yanmega
        BREAK","image":"https://assets.tcgdex.net/en/xy/xy11/8"},{"id":"xy8-12","localId":"12","name":"Chesnaught
        BREAK","image":"https://assets.tcgdex.net/en/xy/xy8/12"},{"id":"xy10-14","localId":"14","name":"Delphox
        BREAK","image":"https://assets.tcgdex.net/en/xy/xy10/14"},{"id":"xy12-16","localId":"16","name":"Ninetales
        BREAK","image":"https://assets.tcgdex.net/en/xy/xy12/16"},{"id":"xy9-18","localId":"18","name":"Golduck
        BREAK","image":"https://assets.tcgdex.net/en/xy/xy9/18"},{"id"[...]
