---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/sets?pagination:itemsPerPage=2&pagination:page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"139-P8n8fJunqLwtuMbOaGOKk+8A9eU"
    body:
      encoding: UTF-8
      string: '[{"id":"base1","name":"Base Set","logo":"https://assets.tcgdex.net/en/base/base1/logo","cardCount":{"total":102,"official":102}},{"id":"base2","name":"Jungle","logo":"https://assets.tcgdex.net/en/base/base2/logo","symbol":"https://assets.tcgdex.net/univ/base/base2/symbol","cardCount":{"total":64,"official":64}}]'
  recorded_at: Tue, 14 Jul 2026 23:07:25 GMT
recorded_with: VCR 6.4.0
