---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/suffixes/Legend
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"862-/n4mQQkM4agn6+8U3w9/s7S1C6A"
    body:
      encoding: UTF-8
      string: '{"name":"legend","cards":[{"id":"hgss3-87","localId":"87","name":"Kyogre
        & Groudon LEGEND","image":"https://assets.tcgdex.net/en/hgss/hgss3/87"},{"id":"hgss3-88","localId":"88","name":"Kyogre
        & Groudon LEGEND","image":"https://assets.tcgdex.net/en/hgss/hgss3/88"},{"id":"hgss3-89","localId":"89","name":"Rayquaza
        & Deoxys LEGEND","image":"https://assets.tcgdex.net/en/hgss/hgss3/89"},{"id":"hgss3-90","localId":"90","name":"Rayquaza
        & Deoxys LEGEND","image":"https://assets.tcgdex.net/en/hgss/hgss3/90"},{"id":"hgss2-90","localId":"90","name":"Entei
        & Raikou LEGEND",[...]
