---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/cards?hp=gte:300&pagination:itemsPerPage=5&pagination:page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"220-Uws7tba05YK1605lDZlnKgC4R3E"
    body:
      encoding: UTF-8
      string: '[{"id":"sv07-001","localId":"001","name":"Venusaur ex","image":"https://assets.tcgdex.net/en/sv/sv07/001"},{"id":"swsh3-2","localId":"2","name":"Butterfree
        VMAX","image":"https://assets.tcgdex.net/en/swsh/swsh3/2"},{"id":"sv03.5-003","localId":"003","name":"Venusaur
        ex","image":"https://assets.tcgdex.net/en/sv/sv03.5/003"},{"id":"sv10.5b-003","localId":"003","name":"Serperior
        ex","image":"https://assets.tcgdex.net/en/sv/sv10.5b/003"},{"id":"me04-003","localId":"003","name":"Beedrill
        ex","image":"https://assets.tcgdex.net/en/me/me04/003"}]'
  recorded_at: Tue, 14 Jul 2026 23:07:04 GMT
recorded_with: VCR 6.4.0
