---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/cards?name=eq:Furret&pagination:itemsPerPage=5&pagination:page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ec-tLwLEUKJROvwVTrURs7YNMQkNYw"
    body:
      encoding: UTF-8
      string: '[{"id":"hgss1-21","localId":"21","name":"Furret","image":"https://assets.tcgdex.net/en/hgss/hgss1/21"},{"id":"ex7-22","localId":"22","name":"Furret","image":"https://assets.tcgdex.net/en/ex/ex7/22"},{"id":"dp3-27","localId":"27","name":"Furret","image":"https://assets.tcgdex.net/en/dp/dp3/27"},{"id":"ex12-33","localId":"33","name":"Furret","image":"https://assets.tcgdex.net/en/ex/ex12/33"},{"id":"neo1-35","localId":"35","name":"Furret","image":"https://assets.tcgdex.net/en/neo/neo1/35"}]'
  recorded_at: Tue, 14 Jul 2026 23:07:03 GMT
recorded_with: VCR 6.4.0
