---
http_interactions:
- request:
    method: get
    uri: https://api.tcgdex.net/v2/en/dex-ids/1025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30e-j1llBTtfZgtMajvbE8mQTnGv3yU"
    body:
      encoding: UTF-8
      string: '{"name":1025,"cards":[{"id":"sv06.5-039","localId":"039","name":"Pecharunt
        ex","image":"https://assets.tcgdex.net/en/sv/sv06.5/039"},{"id":"sv06.5-085","localId":"085","name":"Pecharunt
        ex","image":"https://assets.tcgdex.net/en/sv/sv06.5/085"},{"id":"sv06.5-093","localId":"093","name":"Pecharunt
        ex","image":"https://assets.tcgdex.net/en/sv/sv06.5/093"},{"id":"sv06.5-095","localId":"095","name":"Pecharunt
        ex","image":"https://assets.tcgdex.net/en/sv/sv06.5/095"},{"id":"svp-129","localId":"129","name":"Pecharunt","image":"https://assets.tcgdex.net/en/sv/svp/129"},{"id":"svp-149","localId":"149","name":"Pecharunt","image":"https://assets.tcgdex.net/en/sv/svp/149"},{"id":"sv08.5-163","localId":"163","name":"Pecharunt
        ex","image":"https://assets.tcgdex.net/en/sv/sv08.5/163"}]}'
  recorded_at: Tue, 14 Jul 2026 23:07:07 GMT
recorded_with: VCR 6.4.0
